$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/bootstrap-social/bootstrap-social.scss";
//@import './material';
.cursor-pointer{
  cursor: pointer;
}
.btn-social{
 @extend .cursor-pointer;
}